html {
  --s: 21px; /* control the size*/
  --c1: #000000;
  --c2: #45e86e;
  
  --_s:37.5% 12.5% at 62.5%;
  --_g:34% 99%,#0000 101%;
  --g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
  --g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
  --g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
  --g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
  background:
    var(--g1),
    var(--g2) 0                calc(3*var(--s)),
    var(--g3) var(--s)         calc(3*var(--s)),
    var(--g4) var(--s)         calc(6*var(--s)),
    var(--g1) calc(2*var(--s)) calc(6*var(--s)),
    var(--g2) calc(2*var(--s)) calc(9*var(--s)),
    var(--g3) calc(3*var(--s)) calc(9*var(--s)),
    var(--g4) calc(3*var(--s)) 0,
    repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
  background-size: calc(4*var(--s)) calc(12*var(--s));
}



body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-size: larger;
}

.form-container{
  width: 500px;
  background-color: rgb(71, 250, 95);
  border-radius: 10px;
  padding: 50px
}


form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form+p, form p {
  text-align: center;
  background-color: rgb(71, 250, 95);
}

input, button{
  border-radius: 4px;
  border: unset;
  padding: 15px 30px;
  font-size: larger;
}

button{
  background-color: #6495ed;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.error{
  color: rgb(241, 39, 39);
}

.escondido{
  display: none;
}

.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}